* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

html { font-size: 20px; }

.display {
  position: relative;
  display: flex;
  width: 95%;
  margin: 0 auto;
  box-shadow: 2px 0 20px #909090, -2px 0 20px #909090;
  color: #232323;
}

.playerPanel-1,
.playerPanel-2 {
  position: relative;
  width: 50%;
  height: 100vh;
  text-align: center;
  background: #fff;
}

.active {
  background: #ededed;
}

.playerName {
  margin-top: 20px;
}

.sum {
  margin-top: 60px;
  font-size: 190%;
  color: #e92a40;
}

.boxScore {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  width: 80px;
  background: #e92a40;
}

.currentLabel {
  margin-top: 5px;
  font-size: 50%;
}

.currentScore {
  margin: 10px auto;
  font-size: 120%;
  color: #fff;
}

.btn {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-size: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover { font-size: 60%; }
.btn:active { background: #ddd; }
.btn:focus { outline: none; }

.btn i {
  margin-right: 8px;
  font-size: 140%;
  color: #e92a40;
}

#newGame { top: 60px; }
#rollDice { top: 240px; }
#hold { top: 280px; }

#diceImg {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  box-shadow: 2px 2px 20px #909090, -2px -2px 20px #909090;
}

/*===================================================================*/
/*480px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 480px) {

  body {
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px,
    rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px,
    rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px,
    rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
  }

  .display {
    height: 70vh;
    margin: 15vh auto;
    box-shadow: 2px 0 20px #232323, -2px 0 20px #232323;
  }

  .playerPanel-1,
  .playerPanel-2 { height: 100%;}
  .playerName { font-size: 130%; }
  .sum { font-size: 280%; }

  .boxScore {
    bottom: 5%;
    width: 120px;
    font-size: 150%;
  }

  .btn {
    width: 130px;
    font-size: 70%;
  }

  .btn:hover { font-size: 80%; }

  #rollDice { top: 300px; }
  #hold { top: 360px; }

  #diceImg {
    top: 180px;
    width: 100px;
  }
}

/*===================================================================*/
/*768px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 768px) {

  * { font-size: 120%; }

  .display {
    width: 90%;
  }

  .boxScore {

    width: 150px;
  }

  .btn {
    width: 200px;
    height: 50px;
  }

  #newGame { top: 100px; }
  #rollDice { top: 330px; }
  #hold { top: 390px; }

  #diceImg {
    top: 200px;
    width: 120px;
  }
}
