* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}

html {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
}

.display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 0 20px #909090, -2px 0 20px #909090;
          box-shadow: 2px 0 20px #909090, -2px 0 20px #909090;
  color: #232323;
}

.playerPanel-1,
.playerPanel-2 {
  position: relative;
  width: 50%;
  height: 100vh;
  text-align: center;
  background: #fff;
}

.active {
  position: relative;
  background: #f2f2f2;
}

.active .playerName::after {
  content: "";
  border: 5px solid #e92a40;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 10%;
}

.playerName {
  margin-top: 20px;
}

.sum {
  margin-top: 60px;
  font-size: 190%;
  color: #e92a40;
}

.boxScore {
  position: absolute;
  left: 50%;
  bottom: 20%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  background: #e92a40;
}

.currentLabel {
  margin-top: 5px;
  font-size: 50%;
}

.currentScore {
  margin: 10px auto;
  font-size: 120%;
  color: #fff;
}

.btn {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  width: 80px;
  height: 30px;
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  font-size: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  font-size: 55%;
  background: rgba(221, 221, 221, 0.3);
}
.btn:active { background: #ddd; }
.btn:focus { outline: none; }

.btn i {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 130%;
  color: #e92a40;
}

#newGame { top: 60px; }
#rollDice { top: 205px; }
#hold { top: 235px; }

.dice {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  -webkit-box-shadow: 1px 1px 20px #ccc, -1px -1px 20px #ccc;
          box-shadow: 1px 1px 20px #ccc, -1px -1px 20px #ccc;
}

#diceImg-1 { top: 90px; }
#diceImg-2 { top: 150px; }

input {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  font-size: 40%;
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
  border: 2px solid rgba(221, 221, 221, 0.3);
  transition: all .3s;
}

input:focus {
  outline: none;
  border: 2px solid #ddd;
}

/*===================================================================*/
/*480px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 480px) {

  .playerName { font-size: 130%; }
  .active .playerName::after { top: 26px; right: 20%;}
  .sum { font-size: 280%; }

  .boxScore {
    width: 120px;
    font-size: 150%;
  }

  .btn {
    width: 113px;
    font-size: 70%;
  }

  .btn:hover { font-size: 80%; }
  input { font-size: 52%; }
}

/*===================================================================*/
/*768px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 768px) {

  * { font-size: 110%; }

  body {
    background-color: hsl(2, 57%, 40%);
    background-image: -webkit-repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px,
    rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    -webkit-repeating-linear-gradient(right, transparent, transparent 50px,
    rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    -webkit-repeating-linear-gradient(325deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px,
    rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    background-image: -o-repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px,
    rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    -o-repeating-linear-gradient(right, transparent, transparent 50px,
    rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    -o-repeating-linear-gradient(325deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px,
    rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px,
    rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(270deg, transparent, transparent 50px,
    rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px,
    rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px,
    rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px,
    rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px,
    rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px,
    rgba(0,0,0,.5) 232px, transparent 232px),
    repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px,
    rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
  }

  .display {
    width: 90%;
    -webkit-box-shadow: 2px 2px 20px #000, -2px -2px 20px #000;
            box-shadow: 2px 2px 20px #000, -2px -2px 20px #000;
  }

  .active .playerName::after { top: 30px; }
  .boxScore { width: 150px; }

  .btn {
    width: 140px;
    height: 35px;
  }

  .dice { width: 70px; }
  #diceImg-1 { top: 100px; }
  #diceImg-2 { top: 180px; }
  #rollDice { top: 260px; }
  #hold { top: 295px; }

  input {
    top: 335px;
    width: 150px;
    font-size: 55%;
  }
}

/*===================================================================*/
/*950px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 950px) {

  .display {
    width: 70%;
    height: 80vh;
    margin: 10vh auto;
  }

  .playerPanel-1,
  .playerPanel-2 {
    height: 100%;
  }

  .active .playerName::after { top: 32px; right: 25%; }
  .boxScore { bottom: 15%; }
  .dice { width: 90px; }
  #diceImg-2 {top: 200px;}
  #rollDice { top: 330px; }
  #hold { top: 375px; }

  input {
    top: 425px;
    width: 150px;
    font-size: 55%;
  }
}
