* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}

html { font-size: 20px; }

.display {
  position: relative;
  display: flex;
  width: 95%;
  margin: 0 auto;
  box-shadow: 2px 0 20px #909090, -2px 0 20px #909090;
  color: #232323;
}

.playerPanel-1,
.playerPanel-2 {
  position: relative;
  width: 50%;
  height: 100vh;
  text-align: center;
}

.active {
  background: #ededed;
}

.playerName {
  margin-top: 20px;
}

.sum {
  margin-top: 60px;
  font-size: 190%;
  color: #006eb0;
}

.boxScore {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  width: 80px;
  background: #006eb0;
}

.currentLabel {
  margin-top: 5px;
  font-size: 50%;
}

.currentScore {
  margin: 10px auto;
  font-size: 120%;
  color: #fff;
}

.btn {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 30px;
  z-index: 10;
  text-transform: uppercase;
  font-size: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover { font-size: 60%; }
.btn:active { background: #ddd; }
.btn:focus { outline: none; }

.btn i {
  margin-right: 8px;
  font-size: 140%;
  color: #006eb0;
}

#newGame { top: 60px; }
#rollDice { top: 240px; }
#hold { top: 275px; }

#diceImg {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  filter: hue-rotate(210deg);
  box-shadow: 2px 2px 20px #909090, -2px -2px 20px #909090;
}

/*===================================================================*/
/*480px+ wide devices*/
/*===================================================================*/

@media only screen and (min-width: 480px) {

  .playerName { font-size: 130%; }
  .sum { font-size: 280%; }

  .boxScore {
    width: 120px;
    font-size: 150%;
  }

  .btn {
    width: 130px;
    font-size: 70%;
  }

  .btn:hover { font-size: 80%; }

  #rollDice { top: 300px; }
  #hold { top: 350px; }

  #diceImg {
    top: 180px;
    width: 100px;
  }
}
